@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --BackLight: #F7F5F2;
    --Hover1: #850D23;
    --Hover: #D3AE69;
    --Fundo: #000000e5;
    --Card: #3A424E;
}

.headerMobile {
    display: none;
}

@font-face {
    font-family: "Moderniz";
    src: url(Assets/Fonts/Moderniz.otf);
}

@font-face {
    font-family: "ModesticBold";
    src: url(Assets/Fonts/ModesticSans-Bold.otf);
}

@font-face {
    font-family: "CaviarDreams";
    src: url(Assets/Fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: "CaviarDreamsBold";
    src: url(Assets/Fonts/CaviarDreams_Bold.ttf);
}


@font-face {
    font-family: "MenuHeavy";
    src: url(Assets/Fonts/Nexa-Heavy.ttf);
}

@font-face {
    font-family: "greatVibes";
    src: url(Assets/Fonts/GreatVibes-Regular.ttf);
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/*Cabeçalho*/
.headerDesktop {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: rgb(139, 7, 7);
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 4px #000;
}

.headerDesktop img {
    width: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.headerDesktop nav {
    background-color: transparent;
}

.headerDesktop nav .nav-item .nav-button {
    width: auto;
    background-color: transparent;
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.headerDesktop nav .nav-item .nav-button:hover {
    color: var(--Hover);
}

/*Caixas do Menu DropDown*/
.dropdown-content {
    display: none;
    position: absolute;
    background: var(--Hover1);
    color: var(--Hover);
    min-width: 160px;
    box-shadow: 2px 2px 2px var(--Hover1);
    z-index: 1;
}

.nav-item {
    display: inline-block;
    position: relative;
    margin-left: 25px;
}

.nav-item:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.dropdown-content a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

/*Seção de apresentação*/
main {
    width: 100vw;
}

.itemContainer {
    position: relative;
    margin: auto;
    width: 100%;
    height: 800px;
    background: url(Assets/Imagens/backGroundTheme2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.itemContainer .itemContent {
    position: absolute;
    display: block;
}

main .itemContainer .itemContent h1 {
    font-size: 100px;
    font-family: "GreatVibes";
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    color: red;
    user-select: none;
}

main .itemContainer .itemContent h2 {
    font-size: 25px;
    font-family: "modesticBold";
    text-align: center;
    color: white;
    user-select: none;
}

main .itemContainer .itemContent p {
    font-family: "CaviarDreams";
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    background-color: transparent;
    transition: all 0.3s ease;
}

main .itemContainer .itemContent p>a {
    color: #fff;
    background: orange;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}


main .itemContainer .itemContent p>a:hover {
    background: var(--Hover1);
    color: #fff;
    transition: all 0.3s ease;
}

/*Carrosel*/
.carroselSlider {
    background-color: #1A1A1A;
    width: 100%;
    height: 700px;
}

.carroselSlider .carroselInformation {
    width: 100%;
    height: auto;
    padding: 20px 0px;
}

.carroselSlider .carroselInformation i {
    width: max-content;
    font-size: 20px;
    padding: 10px;
    display: block;
    margin: auto;
    color: #fff;
    border-radius: 50%;
    background-color: var(--Hover1);
}

.carroselSlider .carroselInformation h1 {
    font-family: "greatVibes";
    font-size: 100px;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    color: red;
}

.carroselSlider .carroselInformation p {
    font-family: "caviarDReams";
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.container-slide {
    display: flex;
    width: 90%;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    background: #1A1A1A;
    margin: 50px auto;
    border-radius: 10px;
}

.container-items {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    height: 400px;
    border-radius: 10px;
    transition: all 1.5s;
    overflow: hidden;
}

.item {
    width: 90%;
    transition: all 1s ease-in-out;
}

.item:first-child {
    margin-left: 0;
}

.item img {
    width: 290px;
    height: 300px;
    margin: 10px;
    border: 3px solid #fff;
    border-radius: 20px;
}

.action-button {
    font: bold 50px sans-serif;
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: #fff;
    user-select: none;
}

.action-button:hover {
    color: red;
    background-color: rgba(0, 0, 0, 0.100);
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease;
    transform: scale(0.8);
}

/*Section localização*/
.home {
    padding: 50px;
    background-color: #000000e5;
    text-align: center;
}

.home .homeContainer {
    background-color: transparent;
    margin: 10px 0;
}

.home .homeContainer span {
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    background-color: var(--Hover1);
}

.home .homeContainer h1 {
    font-size: 100px;
    font-family: "greatVibes";
    font-weight: normal;
    letter-spacing: 4px;
    padding: 10px;
    color: red;
}

.home .homeContainer p {
    font-size: 18px;
    font-family: "CaviarDreams";
    padding: 10px;
    color: #fff;
}

.home .homeContainerContent {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    padding: 10px;
}

.home .homeContainerContent .homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContent {
    background-color: #000;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 550px;
    text-align: left;
    font-family: "CaviarDreams";
}

.homeContent img {
    width: 100%;
    height: 300px;
}

.homeContent h2 {
    font-size: 24px;
    font-family: "MenuHeavy";
    color: #fff;
    padding: 20px;
}

.homeContent p {
    font-size: 16px;
    color: #fff;
    padding: 0 20px 20px;
}

/*Seção de destaque do cardapio*/
.cardapio {
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: block;
    text-align: center;
    background: #000000e5;
}

.cardapio .cardapioItem {
    display: block;
}

.cardapio .cardapioItem span {
    color: #fff;
    background-color: var(--Hover1);
    padding: 10px;
    margin: 10px 0;
    border-radius: 50%;
}

.cardapio .cardapioItem h1 {
    font-family: "greatVibes";
    font-size: 100px;
    font-weight: normal;
    letter-spacing: 4px;
    color: red;
}

.cardapio .cardapioSection {
    display: block;
    width: 80%;
    margin: auto;
}

.cardapio .cardapioSection .cardapioContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.cardapio .cardapioSection .cardapioContainer .cardapioImg img {
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 2px 10px 10px #000;
}

.cardapio .cardapioSection .cardapioContainer .cardapioContent {
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 20px;
}

.cardapio .cardapioSection .cardapioContainer .cardapioContent h2 {
    font-size: 20px;
    font-family: "moderniz";
    color: #fff;
    text-align: left;
    padding: 5px;
}

.cardapio .cardapioSection .cardapioContainer .cardapioContent p {
    width: auto;
    font-family: "caviarDreams";
    font-size: 20px;
    color: #fff;
    text-align: left;
    padding: 5px;
}

.cardapio .cardapioSection .cardapioContainer .cardapioContent a {
    display: block;
    width: max-content;
    font-family: "modesticBold";
    text-decoration: none;
    border-radius: 20px;
    background-color: var(--Hover1);
    color: #fff;
    padding: 10px;
}

/*Fim*/
.reserve {
    width: 100%;
    height: 600px;
    background-image: url(Assets/Imagens/teste[\ \(5\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.reserve .containerReserve {
    display: block;
    width: 50%;
    text-align: center;
}

.reserve .containerReserve h1 {
    font-family: "greatVibes";
    font-size: 70px;
    font-weight: normal;
    letter-spacing: 4px;
    padding: 10px;
    color: red;
}

/*SEÇÃO DELIVERY*/
.delivery {
    width: 100%;
    height: auto;
    padding: 10px;
    background: #000000e5;
}

.delivery .containerDelivery {
    height: auto;
    display: flex;
    flex-direction: row;
}

.delivery .contentHeader {
    background-color: transparent;
}

.delivery .contentHeader h1 {
    font-family: "greatVibes";
    font-size: 100px;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    padding: 10px;
    color: red;
}

.delivery .contentHeader i {
    display: block;
    width: max-content;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    background: #850D23;
}

.delivery .contentHeader i>span {
    font-family: "Arial";
    font-weight: normal;
    letter-spacing: 2px;
    color: #fff;
    margin: 0px 5px;
}

.delivery .contentHeader p {
    font-family: "greatVibes";
    font-size: 100px;
    letter-spacing: 4px;
    text-align: center;
    padding: 10px;
    color: red;
}

.delivery .containerDelivery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 80%;
}

.delivery .containerDelivery img {
    width: 400px;
    height: 350px;
}

.delivery .containerDelivery .contentItens {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A424E;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #fff;
}

.delivery .containerDelivery .contentItens .deliveryItens {
    width: 600px;
    height: max-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.deliveryItens .Itens {
    width: 100%;
    display: flex;
    margin: 20px 0;
    padding: 5px;
}

.deliveryItens .Itens i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: auto;
    font-size: 30px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: var(--Hover1);
    color: #fff;
}

.deliveryItens .Itens .infoItens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.deliveryItens .Itens .infoItens h1 {
    font-family: "Arial";
    font-size: 35px;
    font-weight: bold;
    letter-spacing: normal;
    color: #fff;
}

.deliveryItens .Itens .infoItens p {
    font-family: "Arial";
    font-size: 20px;
    color: #fff;
}

.deliveryItens .iconNavigation {
    width: max-content;
    padding: 10px;
    margin: 0 10px;
    display: flex;
    gap: 10px;
    display: flex;
}

.deliveryItens .iconNavigation .itemNav i {
    color: #fff;
}

/*Seção contato*/
.faleConosco {
    width: 100%;
    height: 700px;
    background-color: #0000001a;
}

.faleConosco .faleConoscoHeader {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.faleConosco .faleConoscoHeader span {
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    background: var(--Hover1);
    border-radius: 50%;
}

.faleConosco .faleConoscoHeader h1 {
    font-family: "greatVibes";
    font-size: 100px;
    font-weight: normal;
    color: red;

}

.faleConosco .contentFaleConosco {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faleConosco .contentFaleConosco .containerContact .containerContato {
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.faleConosco .contentFaleConosco .containerContact .containerContato h2 {
    font-family: "moderniz";
    font-size: 30px;
    letter-spacing: 4px;
    padding: 10px;
}

.faleConosco .contentFaleConosco .containerContact .containerContato i {
    color: #850D23;
    font-size: 18px;
    padding: 10px;
}

.faleConosco .contentFaleConosco .containerContact .containerContato span {
    color: #000;
    font-family: "Arial";
    font-size: 15px;
    font-weight: normal;
    margin-left: 4px;
}

.faleConosco .contentFaleConosco .containerContact form {
    width: auto;
    display: flex;
    flex-direction: column;
}

.faleConosco .contentFaleConosco .containerContact form input {
    height: 40px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
}

.faleConosco .contentFaleConosco .containerContact form select {
    width: calc(100% - 10px);
    height: 40px;
    margin: 5px;
    border-radius: 5px;
}

.faleConosco .contentFaleConosco .containerContact form textarea {
    width: calc(100% - 10px);
    height: 90px;
    margin: 5px;
    border-radius: 5px;
}

.faleConosco .contentFaleConosco .containerContact button {
    color: #000;
    display: block;
    font-size: 17px;
    font-family: "Arial";
    font-weight: bold;
    width: calc(100% - 10px);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: auto;
    background-color: red;
}

.faleConosco .contentFaleConosco .containerContact p {
    color: #000;
    font-family: "Arial";
    font-size: 15px;
    padding: 10px;
}

/**/
.containerHorario {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background: #000000e5;
}

.containerHorario .contentHorario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containerHorario .contentHorario .Itens {
    display: block;
    padding: 10px;
}

.containerHorario .contentHorario .Itens h1 {
    font-family: "moderniz";
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
}

.containerHorario .contentHorario .Itens .horarioItens {
    display: flex;
    align-items: center;
}

.containerHorario .contentHorario .Itens .horarioItens i {
    font-size: 30px;
    margin-right: 10px;
    padding: 10px;
    color: #850D23;
    background-color: #fff;
    border-radius: 2px;
}

.containerHorario .contentHorario .Itens .horarioItens .horarioItem {
    margin: 12px 0;
}

.containerHorario .contentHorario .Itens .horarioItens .horarioItem p {
    font-family: "caviarDreams";
    margin: 10px 0;
    color: #fff;
}

/*#000000e5*/
.redes {
    width: 100%;
    height: auto;
    background: #000000e5;
    padding: 30px 10px;
}

.redes .containerRedes {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
}

.redes .containerRedes .contentRedes {
    display: block;
    text-align: center;
    width: 300px;
    padding: 10px;
    height: 320px;
    border: 3px solid #000;
    border-radius: 20px;
    background: #3A424E;
    box-shadow: 3px 3px 5px #000;
}

.redes .containerRedes .contentRedes #imgContent1 {
    width: 100%;
    height: 127px;
    border-radius: 10px;
    background-color: red;
}

.redes .containerRedes .contentRedes p {
    color: #fff;
    text-align: left;
    line-height: 30px;
    font-family: "Arial";
    font-size: 18px;
    font-weight: lighter;
}

/*2º coluna*/
.redes .containerRedes .contentRedes h1 {
    font-family: "Arial";
    font-size: 15px;
    text-align: left;
    color: #fff;
}

.redes .containerRedes .contentRedes .itensRedes {
    text-align: left;
    margin: 30px 0;
}

.redes .containerRedes .contentRedes .itensRedes i {
    font-size: 30px;
    padding: 10px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: #fff;
}

.redes .containerRedes .contentRedes h2 {
    font-family: "Arial";
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    margin: 10px 0;
}

.redes .containerRedes .contentRedes .itensCartoes img {
    width: 100%;
}

/*3° Coluna*/
.redes .containerRedes .contentRedes #siren {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 30px;
    color: #fff;
}

.redes .containerRedes .contentRedes #siren span {
    font-family: "Arial";
    font-weight: lighter;
    font-size: 15px;
    margin: 0 10px;
}

.redes .containerRedes .contentRedes .contentRedesImg {
    background-color: #fff;
    border-radius: 10px;
}

.redes .containerRedes .contentRedes .contentRedesImg img {
    width: max-content;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

footer span {
    font-family: "Arial";
    color: #fff;
}

footer span a {
    text-decoration: none;
    color: #fff;
}

footer span a:hover {
    transition: 0.4s ease;
    color: #850D23;
}

@media screen and (max-width: 768px) {
    .headerDesktop {
        display: none;
    }

    body,
    main {
        width: 100%;
        overflow-x: hidden;
    }

    .headerMobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--Hover1);
        padding: 1.5rem;
    }

    .headerNav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .navItems {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .navItems a {
        font-family: "caviarDreams";
    }

    .headerNav a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .headerNav a:hover,
    .headerNav a:focus {
        color: #f1f1f1;
    }

    .headerNav .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    .headerMobile span>i {
        color: #fff;
        font-size: 30px;
    }

    /*Container inicial com BG*/
    main .itemContainer {
        align-items: flex-start;
        height: 600px;
    }

    main .itemContainer .itemContent {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 600px;
    }

    main .itemContainer .itemContent h1 {
        font-size: 80px;
    }

    main .itemContainer .itemContent h2 {
        font-family: "caviarDreams";
        font-size: 25px;
    }

    main .itemContainer .itemContent p>a {
        font-size: 24px;
        background-color: rgba(245, 245, 245, 0.733);
        color: #000;
    }

    /*Carrosel de Imagens*/
    .carroselSlider {
        height: calc(550px + 10px);
    }

    .carroselSlider .carroselInformation h1 {
        font-size: 80px;
    }

    .carroselSlider .carroselInformation p {
        font-size: 17px;
    }

    .carroselSlider .container-slide {
        width: 90%;
        height: 300px;
        margin: 10px auto;
    }

    .container-items {
        width: 100%;
        height: 400px;
    }

    .item {
        width: 100%;
        transition: all 1s ease-in-out;
    }

    .item:first-child {
        margin-left: 0px;
    }

    .item img {
        width: 290px;
        height: 220px;
        margin: 0 3px;
        border: 1px solid #000;
    }

    .action-button {
        font: bold 20px sans-serif;
        width: 20px;
    }

    .action-button:hover {
        transform: scale(0.8);
    }

    /*Locais da pizzaria*/
    .home {
        padding: 10px;
    }

    .home .homeContainer h1 {
        font-size: 60px;
        padding: 10px;
    }

    .home .homeContainer p {
        text-align: left;
        padding: 20px;
    }

    .home .homeContainerContent {
        flex-direction: column;
    }

    .home .homeContainerContent .homeContent {
        width: 100%;
    }

    /*Itens do cardápio*/
    .cardapio .cardapioItem h1 {
        font-size: 60px;
        padding: 10px;
    }

    .cardapio .cardapioSection {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .cardapio .cardapioSection .cardapioContainer {
        flex-direction: column;
    }

    .cardapio .cardapioSection .cardapioContainer .cardapioImg Img {
        width: 95%;
        height: 200px;
        border-radius: 50px;
    }

    .cardapio .cardapioSection .cardapioContainer .cardapioContent {
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .cardapio .cardapioSection .cardapioContainer .cardapioContent h2 {
        font-size: 19px;
        margin: 5px 0;
    }

    .cardapio .cardapioSection .cardapioContainer .cardapioContent p {
        font-size: 17px;
        margin: 10px 0;
    }

    .cardapio .cardapioSection .cardapioContainer .cardapioContent a {
        font-size: 14px;
        margin: 5px 0;
    }

    .reserve {
        background-image: url(Assets/Imagens/teste[\ \(6\).jpg);
    }

    .reserve .containerReserve {
        width: 100%;
    }

    .reserve .containerReserve h1 {
        font-size: 40px;
        color: red;
    }

    /*Seção de delivery*/
    .delivery .contentHeader {
        width: 100%;
    }

    .delivery .contentHeader h1 {
        font-size: 70px;
    }

    .delivery .contentHeader p {
        font-size: 50px;
    }

    .delivery .containerDelivery {
        flex-direction: column;
    }

    .delivery .containerDelivery .contentImg {
        width: auto;
    }

    .delivery .containerDelivery .contentImg img {
        width: 200px;
        height: 200px;
        transform: rotate(0deg);
    }

    .delivery .containerDelivery .contentItens {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .delivery .containerDelivery .contentItens .deliveryItens {
        padding: 0;
        background-image: linear-gradient(red, black, black);
    }

    .delivery .containerDelivery .contentItens .deliveryItens .Itens {
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }

    .delivery .containerDelivery .contentItens .deliveryItens .Itens i {
        border-radius: none;
        background-color: transparent;
    }

    /*Seçao contato fale conosco*/
    .faleConosco .faleConoscoHeader h1 {
        font-size: 70px;
    }

    .faleConosco .contentFaleConosco {
        flex-direction: column;
    }
}